<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ucol.ordinario">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ordinario">
        <activity
            android:name=".Stellar"
            android:exported="false" />
        <activity
            android:name=".Bitbay"
            android:exported="false" />
        <activity
            android:name=".Ripple"
            android:exported="false" />
        <activity
            android:name=".Polkadot"
            android:exported="false" />
        <activity
            android:name=".Binance"
            android:exported="false" />
        <activity
            android:name=".Litecoin"
            android:exported="false" />
        <activity
            android:name=".Cardano"
            android:exported="false" />
        <activity
            android:name=".Ethereum"
            android:exported="false" />
        <activity
            android:name=".Dogecoin"
            android:exported="false" />
        <activity
            android:name=".Bitcoin"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>